@{
    ViewData["Title"] = "About Me";
}

<div class="kat-intro">
    <h1 class="summary">
        About me:
    </h1>
</div>

<div class="aboutMe">
    <h2>
        Hey there! My name is Kat, and I'm currently juggling learning programming while serving coffee as a barista. Welcome to my blog, where 
        I'll be sharing all about my journey into learning coding. At 24 years old, I'm diving headfirst into the realm of programming, and 
        I'm super excited to document every step of the way. But when I'm not banging my head on my keyboard over bugs and errors, you'll find me 
        indulging in my favorite hobbies, such as knitting tiny sweaters, crocheting wall hangings, playing <a href="https://newcp.net">Club Penguin</a>
        or <a href="https://farmrpg.com">FarmRPG</a>, drawing pixel art fruit, and of course, blogging about my beloved <a href="https://intolimbo.tumblr.com">Sims</a>. 
        When it comes to my downtime, you can bet I'll be binge-watching some of my all-time favorite shows like It's Always Sunny In Philadelphia, 
        Doctor Who, Black Mirror, The Twilight Zone, and The Simpsons. I've got a soft spot for anything that sends shivers down my spine, so horror,
        true crime, and mysteries are right up my alley. Currently, I'm knee-deep in learning some essential programming languages like 
        C#, HTML, CSS, and SQL. It's a bit like unlocking a whole new set of tools to build amazing things on the web, and I can't wait to see 
        where this journey takes me. 

        Thank you for joining me on this journey!
    </h2>
</div>